<div class="centered">
	{{#each games}}
		<div class="row">
		    <button type="button" class="btn btn-default" onclick="getGameById({{id}})">Game : {{name}}</button>
		</div>
	{{else}}
		<div class="row">
		    No Pending Games
		</div>
	{{/each}}
	
	<div class="row">
		<button type="button" class="btn btn-primary" onclick="newGame()">New Game</button>    
	</div>
</div>
