.centered {
	text-align: center;
}

.card {
	background-color: lightgrey;
	border-color: white;
	border-width: 1px;
	border-style: solid;
	min-width: 150px;
}

.card:nth-child(even) {
	background-color: #DDD;
}

.buyCard {
	margin: 3px;
	min-width: 90%;
}

.playCard {
	margin: 3px;
	min-width: 90%;
}

.endTurn {
	margin: 3px;
	min-width: 80%;
	margin-bottom: 10px;
}

.gameButton {
	margin: 3px;
	min-width: 40%;
}

.showHistory {
	width: 100%
}

.row.audit:nth-child(even) {
	background-color: #DDD;
}

.current {
	border: solid 1px aliceblue;
	background-color: #5cb85c;
}

.current .card {
	border-color: #5cb85c;
}

.playAll {
    margin: 3px;
    min-width: 80%;
    margin-bottom: 10px;
}

.zone-details {
    padding-right: 10px;
}

.name {
	min-width : 100px;
}

.availableCards .panel-body, .staticCards .panel-body {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}

.availableCards .card, .staticCards .card {
    padding:0px;
    min-height:200px
}

.player .panel-heading {
    color: black;
}

#player-2 .panel-heading {
    font-style: italic;
}